* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 1132px;
  margin: 0 auto;
  padding: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}